#menu{
  background-color: #1c1c1c;
}

#indexContent{
  background-color: #111111;
}

#containerContent{
  margin-left: 80;
  margin-top: 10;
  margin-right: 50;
  margin-bottom: 50;
  padding: 30;
}

.contentCard{
  margin-top: 50;
}

.contentTitle{
  color: #e0e0e0;
  padding-top: 5;
  font-size: 20;
}

.contentDescription{
  color: #707070;
  font-size: 15;
}

.contentRankVideo{
  color: #707070;
  font-size: 12;
}

#btnSearch{
  background-color: #343434;
  height: 30;
  width: 80;
  border: 1;
  border-color: #111111;
}

#inputSearch{
  width: 650;
  height: 30;
  padding: 10;
  margin-left: 81;
  background-color: #111111;
  border-color: #111111;
  text-emphasis-color: #c2a86a;
}
